.botao{
    
    background: brown;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 13px;
    text-decoration: none;

}

.botao:hover{
background-color: red;
}    
